body {
    text-align: center;
    color: aliceblue;
    size: 100%;
}
main {
    margin: 2% 12%;
    display: flex;

flex-direction: column;
    background-image: url(./hero_image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 40px bottom 20px;
    size: 95%;
}
h1 {  
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    padding: 8px;
    text-align: left;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 40%;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}