Body{
    text-align: center;
    color: whitesmoke;
    size: 100%;
}

section {
display: flex;
justify-content: space-between;
align-content: center;
width: 80%;
margin: 5% 10%;
border: 2px solid black;
border-radius: 8px;
background-color: blue;
}

img {
    width: 200px;
}
a {
   align-content: center;
    width: 20%;
    color: aliceblue;
    font-size: 25px;
}