body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#contact-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 35px auto 0;
}

#contact-form h2 {
    text-align: center;
}

#contact-form >*{
    padding: 6px 10px;
    margin-bottom: 5px;
}