body    {
    background-color: rgb(110, 148, 252);
}
header {
    height: 100%;
    padding: 10%;
    background: url(./hero\ image.png) no-repeat;
    background-size: cover;
    background-position: center;
    color: antiquewhite;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 0 25px 0;
}

.navbar>h1 {
    font-size: 100px;
}

.navbar>nav {
    align-items: center;
    

}
.action-call {
    margin: 50px 0 0 0;
    text-align: left 0;
    text-align: end 0;
    font-size: 50px;
}

.works {
    margin: 0 0 0 0;
}

.portal {
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    justify-content: space-between;
    align-content: center;
    max-width: 95%;
    padding: 10px;
    border: 25px;
}

.portal>h1 {}

.portal>img {
    padding: 10px;
    max-width: 200px;
}

/*mdia querry*/