$main-color: #202c64;
$main-color-opacity: rgba(32, 44, 100, 0.7);
$main-font: "M PLUS Rounded 1c", sans-serif;
$body-font: "Work Sans", sans-serif;
$dropdownOpen: false;
// animations
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes moveLeft1 {
  to {
    transform: translateX(-200px);
  }
}

@keyframes moveLeft2 {
  to {
    transform: translateX(-360px);
  }
}

@keyframes moveLeft3 {
  to {
    transform: translateX(-420px);
  }
}

@keyframes fadeInUp {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// global settings
html,
body,
#root {
  flex: 1;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(
    to bottom right,
    adjust-hue($main-color, 180deg),
    lighten(adjust-hue($main-color, 30deg), 10%)
  );
  color: #ffffff;
  background-image: url("./assets/triangles.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  margin: 0;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 2% 15px;
  background-color: $main-color;
  color: #fff;
  img {
    padding: 0 10px;
    max-width: 40px;
    max-height: 40px;
  }
}

header {
  background-color: $main-color;
  padding: 15px 2% 15px;
  display: flex;
  align-items: center;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 1.5rem;
      color: #fff;
      text-decoration: none;
      padding: 10px;
      margin: 0 5px;

      &.active {
        font-weight: bold;
      }
    }
  }
}

// home page cta
.cta {
  margin: 15px auto;
  width: 80%;
  height: 40rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $main-color-opacity;
  border: 2px solid black;
  border-radius: 10px;
  animation: fadeInUp 1s ease-out forwards;

  .text {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    font-family: $body-font;
    color: #ced4f3;

    h1 {
      font-size: 4rem;
      margin-top: 0;
    }
    p {
      font-size: 2rem;
    }
  }

  .face {
    display: flex;

    img {
      max-width: 500px;
      max-height: 500px;
      margin-top: 4rem;
      margin-right: 10px;
      position: absolute;
      top: 0;
    }

    img:first-child {
      right: 0;
      animation: moveLeft1 1s ease-out forwards;
      animation-delay: 0.2s;
    }

    img:nth-child(2) {
      right: 0px;
      animation-delay: 0.4s;
      animation: moveLeft2 1s ease-out forwards;
      z-index: 2;
    }

    img:last-child {
      right: 0px;
      animation-delay: 0.6s;
      animation: moveLeft3 1s ease-out forwards;
      z-index: 1;
    }
  }
}

// moblie styles for cta
@media (max-width: 768px) {
  .cta {
    flex-direction: column;
    height: auto;
  }

  .text {
    text-align: center;
    margin-bottom: 20px;
  }

  .face {
    position: absolute;
    margin-top: 20px;
    max-width: 300px;

    img {
      margin-top: 10px;
      left: 304px;
      // max-width: 80%;
      // max-height: 300px;
    }
  }
}

// home page dropdowns and sections
.works {
  display: block;
  margin: 10px auto;
  background-color: $main-color-opacity;
  border: 2px solid black;
  border-radius: 8px;
  width: 80%;
  padding: 20px;
  img {
    max-width: 200px;
    max-height: 300px;
    padding: 2rem;
    transition: transform 0.3s ease-in-out;
  }

  img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  img.selected {
    filter: grayscale(0%);
    transform: scale(1.5);
    z-index: 1;
  }

  a {
    color: aliceblue;
  }
}
.fullstack {
  display: block;
  margin: 10px auto;
  background-color: $main-color-opacity;
  border: 2px solid black;
  border-radius: 8px;
  width: 80%;
  padding: 20px;
  a {
    color: aliceblue;
    text-decoration: none;
  }
}

.card-sort {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.workcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d477d481;
  max-width: 25rem;
  border-radius: 8px;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;

  h2 {
    margin: 0 auto;
  }

  p {
    text-align: center;
    font-size: larger;
  }

  img {
    max-width: 100px;
    max-height: 100px;
  }
}
.workcard:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #e799e781;
}

.selected-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.selected-image {
  max-width: 90vw;
  max-height: 90vw;
  cursor: pointer;
}

.video-container {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;

  iframe {
    max-width: 100%;
    height: 20rem;
  }
}

// contact page
form {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  font-size: 18px;

  > div {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
      height: 200px;
    }
  }

  label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
  }

  button {
    background-color: $main-color;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
}

// about me page
.about_me {
  margin: 10px auto;
  padding: 3rem;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: solid black 2px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: $main-color-opacity;

  div {
    font-family: $main-font;
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 2rem;
  }
}

.resume {
  background-color: $main-color;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
  font-family: sans-serif;
}
