html, body, #root {
  height: 100%;
  font-family: sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
}

$main-color: #213547;

main {
  flex: 1;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}


footer {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 2% 15px;
  background-color: $main-color;
  img {
    padding: 0 10px;
  }
}

header {
  background-color:$main-color;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    align-items: center;

    a {
      color: #fff;
      text-decoration: none;
      padding: 10px;
      margin: 0 5px;

      &.active {
        font-weight: bold;
      }
    }
  }
}